<div class="col-md-4 mt-4" style="max-width: 100%!important; width: 55%; margin: auto" >
  <div class="card profile-card-4">
    <div class="card-img-block">
      <img class="img-fluid" src="../../assets/tlo.jpg" alt="Card image cap">
    </div>
    <div class="card-body pt-5">
      <img src="../../assets/profile_photo.jpg" alt="profile-image" class="profile"/>
      <h5 class="card-title text-center">Szymon Jarząbek</h5>
      <p class="card-text text-center">Jestem studentem Politechniki Świętokrzyskiej w Kielcach na kierunku Informatyka. Głównie swój czas poświęcam na studia lecz
        w wolnym czasie lubię poznawać nowinki ze świata technologii. Moimi ulubionymi technologiami są Java oraz Angular, lecz jestem otwarty na nowości, lubię próbować swoich możliwości w nieznanych
      mi jeszcze zakresach. Pasjonuję się również jazdą na rowerze, a także rywalizacją na torze kartingowym. </p>
      <div class="icon-block text-center"><a href="https://www.linkedin.com/in/szymon-jarzabek/"> <i class="fa fa-linkedin"></i></a><a href="https://github.com/SzymiJimi"> <i class="fa fa-github"></i></a></div>
    </div>
  </div>
</div>
