<div class="card film-details" style="width: 60rem;">
  <div class="card-body">
    <h5 class="card-title">{{movieData.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{movieData.genre}}</h6>
    <p class="card-text"> {{movieData.description}}</p>
    <div layout="row" class="movie-feature">
      <h6 class="card-subtitle mb-2 text-muted">Kraj produkcji: </h6>
      <h5 class="card-title feature-property">{{movieData.production}}</h5>
    </div>
    <br>
    <br>
    <div layout="row" class="movie-feature">
    <h6 class="card-subtitle mb-2 text-muted">Data premiery: </h6>
    <h5 class="card-title feature-property" >{{movieData.premiereDate}}</h5>
    </div>
    <br>
    <br>
    <div layout="row" class="movie-feature">
      <h6 class="card-subtitle mb-2 text-muted">Reżyseria: </h6>
    <h5 class="card-title feature-property" >{{movieData.director}}</h5>
    </div>
  </div>
</div>
