
<div style="width: 50%; margin: 30px auto auto">

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text input-style" >Tytuł</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="movie.title" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text input-style" >Gatunek</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="movie.genre" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text input-style" >Kraj produkcji</span>
  </div>
  <input type="text"  class="form-control" [(ngModel)]="movie.production" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text input-style" >Data premiery</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="movie.premiereDate"  aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text input-style" >Reżyseria</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="movie.director" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text input-style" >Opis</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="movie.description"  aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

</div>

<div >
  <button type="button" class="btn btn-primary accept-button"  (click)="addMovie()">Dodaj film</button>
</div>


