<div class="card card-position" style="width: 60rem;">
  <div class="card-body">
    <h5 class="card-title">{{movie.title}}</h5>

    <ul class="list-group list-group-flush">
      <!--<div style="display: inline">-->
        <li class="list-group-item">Gatunek:  <span *ngFor="let genre of genre">{{genre.name}}. </span> </li>
      <!--</div>-->
      <!--<div style="display: inline">-->
      <li class="list-group-item">Reżyser: <span *ngFor="let director of director">{{director.name+" "+director.surname}}. </span>  </li>
     <!--</div>-->
      <li class="list-group-item">Produkcja: {{movie.production}}</li>
      <li class="list-group-item">Data premiery: {{movie.premiereDate}}</li>
      <li class="list-group-item">{{movie.description}}</li>
    </ul>

    <div class="card-footer bg-transparent">
      <a [routerLink]="['/movie', movie.idMovie]" class="card-link">Szczegóły</a>
    </div>
  </div>
</div>
